.selected-member{
    list-style: none;
    margin: 0;
    padding: 0;
}

.selected-member li{
    background-color: rgb(204, 204, 201);
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.selected-member li > a{
    background-color: rgb(204, 204, 201);
    padding-right: 10px;
    cursor: pointer;
}